<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图书馆管理系统</title>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/static/books/css/styles.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style type="text/css">
        td {
            vertical-align: middle !important;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="JavaScript:void(0)">
                <b>图书馆管理系统</b>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index">主页</a>
                </li>
                <li class="active">
                    <a href="books">图书管理</a>
                </li>
                <li>
                    <a href="users">会员管理</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span>注销</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <!--搜索框-->
    <form action="{:url('search')}" method="post">
        <div style="width:450px;" class="center-block">
            <div class="form-inline">
                <div class="form-group">
                    <select name="type" class="form-control">
                        <option value="name">书名查询</option>
                        <option value="num">书号查询</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" id="input" class="form-control" placeholder="输入搜索内容" name="keyword" style="width:200px;" value=""/>
                </div>

                <div class="form-group">
                    <button type="submit" id="research" class="btn btn-primary" title="搜索"><i class="Hui-iconfont">&#xe665;</i></button>
                </div>
                <div class="form-group">
                    <a type="button" class="btn btn-primary" title="添加" data-toggle="modal" data-target="#add"><i class="Hui-iconfont">&#xe600;</i></a>
                </div>

            </div>
        </div>
    </form>

    <!--查询到的信息页表头-->
    <table class="table table-bordered table-hover text-center" style="margin-top:30px;">
        <thead>
        <tr class="active">
            <th class="text-center info">图书号</th>
            <th class="text-center danger">图书名</th>
            <th class="text-center warning">作者</th>
            <th class="text-center success" style="width: 90px;">状态</th>
            <th class="text-center primary">操作</th>
        </tr>
        </thead>

        <!--查询到的具体信息-->
        <tbody style="background-color: white">
        {volist name='booksList' id='vo'}
        <tr>
            <td class="info">{$vo.id}</td>
            <td class="danger">{$vo.name}</td>
            <td class="warning">{$vo.author}</td>
            {if condition="$vo.borrow eq ''"}
            <td class="success">在馆</td>
            {else /}
            <td class="danger">已借出</td>
            {/if}
            <td class="primary">
                <button type="button" class="btn btn-warning btn-xs " title="修改">
                    <a class="glyphicon glyphicon-pencil" href="javascrip:void(0)" onclick="edit('{$vo.name}')"></a>
                </button>
                {if condition="$vo.borrow eq ''"}
                <button type="button" class="btn btn-danger btn-xs"  title="下架">
                    <a class="glyphicon glyphicon-remove" href="javascrip:void(0)" onclick="deleteBook('{$vo.name}')"></a>
                </button>
                {else /}
                <button type="button" class="btn btn-danger btn-xs"  title="下架">
                    <a class="glyphicon glyphicon-remove" href="javascrip:void(0)" onclick="alert('该书已被借出')"></a>
                </button>
                {/if}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>

    <!--显示分页按钮,事先要将bootstrap导入css和js-->

    <div class="container" id="pagination" style="margin-left: 200px">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">{$booksList->render()}</div></div>
        <div class="col-md-4"></div>
    </div>


    <!-- 弹出模态窗口-->
    <!--点击名字跳转到详情页-->
    <div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" id="bookForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            书本详情
                        </h4>
                    </div>
                    <div class="modal-body">
                        <!--TODO-->

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">图书名：</div>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">作者：</div>
                                <input type="text" class="form-control" id="author" name="author">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">出版社：</div>
                                <input type="text" class="form-control" id="press" name="press">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">出版时间：</div>
                                <input type="" class="form-control" id="press_time" name="press_time">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">价格：</div>
                                <input type="text" class="form-control" id="price" name="price">
                                <div class="input-group-addon">元</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">ISBN：</div>
                                <input type="text" class="form-control" id="ISBN" name="ISBN">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="text-left" style="width: 100%">作品简介：</label>
                            <textarea class="form-control" style="height: 150px;resize:none;" id="desc" name="desc"></textarea>
                        </div>

                    </div><!--modal-body-->
                    <div class="modal-footer">
                        <button type="button" id="editSubmit" class="btn btn-primary disabled" data-dismiss="modal">提交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                    <input type="hidden" id="book_id" name="book_id">
                </form>
            </div><!-- /.modal-content -->

        </div><!-- /.modal -->
    </div>

<!--    增加书本模态框-->
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" id="addForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">
                            书本详情
                        </h4>
                    </div>
                    <div class="modal-body">
                        <!--TODO-->

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">图书名：</div>
                                <input type="text" class="form-control" name="name">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">作者：</div>
                                <input type="text" class="form-control" name="author">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">出版社：</div>
                                <input type="text" class="form-control" name="press">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">出版时间：</div>
                                <input type="" class="form-control" name="press_time">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">价格：</div>
                                <input type="text" class="form-control" name="price">
                                <div class="input-group-addon">元</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">ISBN：</div>
                                <input type="text" class="form-control" name="ISBN">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="text-left" style="width: 100%">作品简介：</label>
                            <textarea class="form-control" style="height: 150px;resize:none;" name="desc"></textarea>
                        </div>

                    </div><!--modal-body-->
                    <div class="modal-footer">
                        <button type="button" id="addSubmit" class="btn btn-primary disabled" data-dismiss="modal">提交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>

                </form>
            </div><!-- /.modal-content -->

        </div><!-- /.modal -->
    </div>

</div>



<script>
    $(function () {
        //如果信息没有修改则确定按钮不能按下
        $("form").children().change(function () {
            $("#editSubmit").removeClass('disabled');
            $("#addSubmit").removeClass('disabled');
        });

        $("#editSubmit").click(function () {
            $.ajax({
                async: false,
                type: 'post',
                url: "{:url('bookEdit')}",
                data: $("#bookForm").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.status == 1){
                        alert(data.message);
                        window.location.href="{:url('books')}";
                    } else {
                        alert(data.message);
                    }
                },
                error:function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status);
                    alert(XMLHttpRequest.readyState);
                    alert(textStatus);
                }
            })
        });

        $("#addSubmit").click(function () {
            alert('正在添加');
            $.ajax({
                url: "bookAdd",
                type: "post",
                data: $("#addForm").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.status == 1)
                    {
                        alert(data.message);
                        window.location.href="{:url('books')}";
                    }else{
                        alert(data.message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status);
                    alert(XMLHttpRequest.readyState);
                    alert(textStatus);
                }

            })
        })


    });
    function edit(name) {
        $.ajax({
            url:"../Books/details",
            async: false,
            type: "get",
            data: {"name":name},
            dataType: "json",
            //成功后开启模态框
            success: function (data) {

                $("#book_id").val(data.id);
                $("#name").val(name);
                $("#author").val(data.author);
                $("#press").val(data.press);
                $("#press_time").val(data.press_time);
                $("#price").val(data.price);
                $("#ISBN").val(data.ISBN);
                $("#desc").val(data.desc);

                $('#details').modal('show');
            },
            error:function () {
                alert("请求失败");
            },

        });
    };

    function deleteBook(name) {
        if (confirm('确定要删除本书吗？')){
            alert('正在处理');
            $.ajax({
                url: "bookDelete",
                type: "post",
                data: {"bookName":name},
                dataType: "json",
                success: function (data) {
                    if (data.status == 1) {
                        alert(data.message);
                        window.location.href="books";
                    } else if (data.status == 0) {
                        alert(data.message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status);
                    alert(XMLHttpRequest.readyState);
                    alert(textStatus);
                },
            })
        }else{
            alert('选择了取消');
        }

    };

</script>

</body>
</html>