<!DOCTYPE html>
<html lang="zh-cmn">
<head>
    <meta charset="utf-8">
    <title>Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/static/books/css/styles.css" rel="stylesheet" type="text/css" />

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>


</head>

<body>
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">登陆</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form form-horizontal" method="post" action="index.html">

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">用户名</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">密码</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button id="login" type="button" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                </div>

                <div class="form-group">
                    <p style="text-align: center">还没有账号 ?<a href="#">立即注册</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.js"></script>

<script>
    $(function(){
        $('#login').on('click', function(){
            $.ajax({
                type: 'POST',
                url: "{:url('checkLogin')}",
                data: $('form').serialize(),
                dataType: 'json',
                success: function(data){
                    if (data.status == 1) {
                        alert(data.message);
                        window.location.href="{:url('index/index')}";
                    } else {
                        alert(data.message);
                    }
                }
            });
        })
    })
</script>

</body>
</html>
