<!DOCTYPE html>
<html lang="zh-cmn">
<head>
    <meta charset="utf-8">
    <title>Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/static/books/css/styles.css" rel="stylesheet" type="text/css" />

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>

<body>
<!--导航栏-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="JavaScript:void(0)">
                <b>图书馆管理系统</b>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html">主页</a>
                </li>
                <li>
                    <a href="../books/books.html">图书查询</a>
                </li>
                <li class="active">
                    <a href="user_details.html">个人中心</a>
                </li>
                <li>
                    <a href="../books/borrow.html">借阅图书</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>注册</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>注销</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!--用户信息-->
<div class="text-center container" style="width:65%;margin-top: 40px;padding-top: 10px;background-color: #f5f5f5;border-radius: 20px;">
    <div class="h4">
        <b>用户信息</b>
    </div>

    <p>用户名：{$name}</p>
    <p>借书号：{$id}</p>
    <p>上次登陆时间：{$login_time}</p>
    <p>登陆次数：{$login_count}</p>
    <p>用户权限：{$role}</p>
    {if condition="$status eq '1'"}
    <p>用户状态：已启用</p>
    {else /}
    <p>用户状态：已挂失</p>
    {/if}
    <div style="width: 450px;margin: 20px auto;overflow: hidden;display: flex; justify-content: space-between;">

        <button class="btn btn-success" data-toggle="modal" data-target="#info">修改账户信息</button>
        {if condition="$status eq '1'"}
        <button class="btn btn-primary" data-toggle="modal" data-target="#lost">挂失账户</button>
        {/if}
        <button class="btn btn-danger" data-toggle="modal" data-target="#del">删除账户</button>
    </div>
</div>

<!--用户借书信息-->
<div class="container text-center" style="width: 65%;margin-top: 30px;padding: 0;">
    <div class="h4">
        <b>用户借阅信息</b>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
        <tr class="active">
            <th class="text-center">图书号</th>
            <th class="text-center">图书名称</th>
            <th class="text-center">借书时间</th>
            <th class="text-center">应还时间</th>
            <th class="text-center" style="width: 100px">操作</th>
        </tr>
        </thead>

        <tbody>
            {volist name='borrowList' id='b'}
                <tr class="danger">
                    <td>{$b.info_id}</td>
                    <td>{$b.name}</td>
                    <td>{$b.borrow_date}</td>
                    <td>{$b.back_date}</td>
                    <td>
                        <a type="button" class="btn btn-info btn-xs prolong" href="javascript:void(0)" onclick="r('{$b.name}')">归还</a>
                    </td>
                </tr>
            {/volist}
        </tbody>
    </table>
</div>


<!--模态框-->
<div class="container-fluid text-center">

<!--修改账户-->
<!--用户名/密码-->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-top: 150px">
            <div class="modal-content">
                <form method="post" id="infoForm">
                    <!--头部-->
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">
                            修改账户信息
                        </h4>
                    </div>
                    <!--主要内容-->
                    <div class="modal-body  center-block" style="width: 45%">
                        <!--用户名修改-->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">用户名：</div>
                                <input type="text" class="form-control" name="name" value="{$user.name}">
                            </div>
                        </div>

                        <!--密码修改-->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">新密码：</div>
                                <input type="password" class="form-control" name="password" id="newPwd" value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">确认密码：</div>
                                <input type="password" class="form-control" name="password" id="confirmPwd" value="">
                            </div>
                        </div>
                        <p id="msg_pwd" style=""></p>
                    </div>


                    <div class="modal-footer">
                        <button type="button" id="infoSubmit" class="btn btn-primary disabled">
                            提交
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                    </div>
                    <!--将当前记录的id做为隐藏域发送到服务器-->
                    <input type="hidden" value="{$user.id}" name="id">
                </form>
            </div><!--modal-content-->
        </div><!--modal-->
    </div>

<!--挂失账户-->
    <div class="modal fade" id="lost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-top: 150px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel2">
                        挂失账户
                    </h4>
                </div>
                    <div class="modal-body" style="color: red">
                        是否要挂失账户名为{$user.name}的账户
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="lostSubmit" class="btn btn-danger" data-dismiss="modal">
                            确定
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                    </div>
                </div>
            </div><!--modal-content-->
        </div><!--modal-->
    </div>


<!--删除账户-->
<div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 150px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel3">
                    删除
                </h4>
            </div>
            <div class="modal-body" style="color: red">
                是否要删除账户名为{$user.name}的账户
            </div>
            <div class="modal-footer">
                <button type="button" id="delSubmit" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div>
    </div><!--modal-content-->
</div><!--modal-->

<!--归还图书-->
<div class="modal fade" id="return" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 150px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel4">
                </h4>
            </div>
            <div class="modal-body" style="color: red">
                是否要归还此书?
            </div>
            <div class="modal-footer">
                <button type="button" id="returnSubmit" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div>
    </div><!--modal-content-->
</div><!--modal-->

</div><!--模态框-->

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(function () {

        //如果信息没有修改则确定按钮不能按下
        $("form").children().change(function () {
            $("#infoSubmit").removeClass('disabled')
        });

        //修改账户信息
        //1.如果涉及到修改密码，则判断两次输入是否一致
        $("#newPwd").on('input propertychange', function () {
            const pwd = $.trim($(this).val());
            const cpwd = $.trim($("#confirmPwd").val());
            if (pwd != "" && cpwd != ""){
                if (pwd == cpwd){
                    $("#msg_pwd").html("<font color='green'>两次密码通过</font>");
                } else {
                    $("#msg_pwd").html("<font color='red'>两次密码不一致</font>");
                }
            }
        });
        $("#confirmPwd").on('input propertychange', function () {
            const pwd = $.trim($(this).val());
            const cpwd = $.trim($("#newPwd").val());
            if (pwd != "" && cpwd != ""){
                if (pwd == cpwd){
                    $("#msg_pwd").html("<font color='green'>两次密码通过</font>");
                } else {
                    $("#msg_pwd").html("<font color='red'>两次密码不一致</font>");
                }
            }
        });
        //2.提交表单
        $("#infoSubmit").click(function () {
            $.ajax({
                type: "POST",
                url: "{:url('userEdit')}",
                data: $("#infoForm").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.status == 1){
                        alert(data.message);
                        window.location.href="{:url('logout')}";
                    } else {
                        alert(data.message);
                    }
                }
            })
        });

        //挂失账户
        $("#lostSubmit").click(function () {
            // alert('this');
            $.ajax({
                // async: true,
                type: "post",
                url: "lostUser",
                data: {},
                dataType: "json",
                success: function (data) {
                    if (data.status == 1) {
                        alert(data.message);
                        window.location.href="logout";
                    } else {
                        alert(data.message);
                    }
                },
                error: function () {
                    alert('请求失败');
                }
            });
        });

        //删除账户
        $("#delSubmit").click(function () {
            $.ajax({
                type: "post",
                url: "delUser",
                data: {},
                dataType: "json",
                success: function (data) {
                    if (data.status == 1) {
                        alert(data.message);
                        window.location.href="logout";
                    } else {
                        alert(data.message);
                    }
                },
                error: function (data) {
                    alert('请求失败');
                    alert(data.message);
                }
            });
        });
    });
function r(name) {
    if (confirm("确定归还本书吗")) {
        alert('正在处理');
        $.ajax({
            url: "../Books/backBook",
            async: true,
            type: "post",
            data: {"name":name},
            dataType: "json",
            success: function (data) {
                if (data.status == 1) {
                    alert(data.message);
                    window.location.href="user_details";
                } else if (data.status == 0) {
                    alert(data.message);
                }
            },
            error: function() {
                alert("请求失败");
            }
        })
    } else {
        alert('选择了否');
    }
}

</script>


</body>
</html>